@model List<Art_Gallery.Models.New>
@{
    ViewBag.Title = "New Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-header" data-background="./assets/images/page-header.jpg">
    <div class="inner">
        <svg width="580" height="400" class="svg-morph">
            <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
        </svg>
        <h1>News</h1>

    </div>
</header>
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    <div class="blog-post">
                        <figure data-scroll data-scroll-speed="-1"><img src="~/Content/uploads/@item.Image" alt="Image"></figure>
                        <div class="content-box">
                            <small>@item.CreateDate</small>
                            <h3>
                                @item.Title
                            </h3>
                            <p>@item.Description</p>
                            <a href="@Url.Action("", "NewDetail", new {id=item.NewId})" class="custom-link">Continue reading</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <aside class="sidebar">
                    <div class="widget">
                        <h6 class="widget-title">SEARCH</h6>
                        <form>
                            <input type="search" placeholder="Type here to search">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>