@{
    ViewBag.Title = "Menbership Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <header class="page-header" data-background="~/Content/webapp/images/page-header.jpg">
        <div class="inner">
            <svg width="580" height="400" class="svg-morph">
                <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
            </svg>
            <h1>Membership</h1>

        </div>
    </header>
    @using (Html.BeginForm(Html.BeginForm("Create", "Membership", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()
        <section class="content-section" data-background="#fffbf7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <figure><img src="~/Content/webapp/images/title-shape.png" alt="Image"></figure>
                            <h2>Do you want to become a member <br> of the Art Gallery</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        @if(ViewBag.isSendRequest  == false)
                        {
                            <div class="contact-form">
                                <div class="mb-3">
                                    <textarea placeholder="Enter your request" name="RequestMessage"></textarea>
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    <input type="submit" value="Register">
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </section>
    }
</main>